@import "tailwindcss";

 @font-face {
  font-family: neu;
  src: url(../public/NeueHaasDisplayMediu.ttf);
 }

 @font-face {
  font-family: neuThin;
  src: url(../public/SouvenirStd-Light-N67WEPZ6\ \(1\).otf);
 }



* {
  
  font-family: neu;
}




.buttons::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.8s;
}

.buttons:hover::after {
  bottom: 0;
  border-radius: 0;
}


/** for hero section  **/

@keyframes ani {
  from {
    transform: translate(20% , 0%);
  }
  to {
    transform: translate(150% , -30%);
  }
}


#box {
  animation-name: ani;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


@keyframes ani1 {
  from {
    transform: translate(0% , 10%);
  }
  to {
    transform: translate(0% , -20%);
  }
}

#box2 {
  animation-name: ani1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}




@keyframes ani2 {
  from {
    transform: translate(0% , 20%);
  }
  to {
    transform: translate(0% , -30%);
  }
}

#box3 {
  animation-name: ani2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}




@keyframes ani3 {
  from {
    transform: translate(0% , 30%);
  }
  to {
    transform: translate(0% , -40%);
  }
}

#box4 {
  animation-name: ani3;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}



#moving-text::-webkit-scrollbar {
  display: none;
}

.content {
  animation-name: moving-text;
  animation-duration: 13s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes moving-text {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}


/**   who we are section   */

.font-thin {
  font-family: neuThin;
}


.animate {
  background: linear-gradient(to top right , #FE330A , #fe530afc );
  animation-name: animae;
  animation-timing-function: ease;
  animation-duration: 6s;
  animation-direction: alternate ;
  animation-iteration-count: infinite;
}

@keyframes animae {
  from{
    transform: translate(4% , -4%)
    skew(0);
    filter: blur(20px);
  }
  to{
    transform: translate(-14% , 14%)
    skew(-8deg);
    filter: blur(30px);
  }
}